body {
    margin: 40px;
    font-size: 11px;
   background-color: crimson;
    font-family: Arial;
    font-weight: bold;
    
  }
  
  .sidebar {
      
          grid-area: sidebar;
      }
  
      .sidebar2 {
          grid-area: sidebar2;
      }
  
      .content {
          grid-area: content;
      }
  
      .header {
          grid-area: header;
      }
  
      .footer {
          grid-area: footer;
      }
  
      .wrapper {
          background-color: white;
          color: red;
          
      }
  
    .wrapper {
      display: grid;
      grid-gap: 1em;
      grid-template-areas:
       "header"
       "sidebar"
       "content"
       "sidebar2"
       "footer"
    }
  
      @media only screen and (min-width: 500px)  {
      .wrapper {
  
          grid-template-columns: 20% auto;
          grid-template-areas:
      "header   header"
          "sidebar  content"
          "sidebar2 sidebar2"
          "footer   footer";
      }
      }
  
      @media only screen and (min-width: 600px)   {
          .wrapper {
        grid-gap: 20px;
              grid-template-columns: 120px auto 120px;
              grid-template-areas:
        "sidebar  header  sidebar2"
              "sidebar content sidebar2"
              "sidebar  footer  sidebar2";
             
          }
      }
  
  .box {
    
    background-image: linear-gradient(to bottom right, blue, white);
    color: white;
    border-radius: 5px;
    padding: 16px;
    font-size: 160%; 
    text-align: center;
    transition-duration: .5s;
  }

  .box:hover {
    
    background-image: linear-gradient(to bottom right, blue, white);
    color: black;
    border-radius: 5px;
    padding-top: 26px;
    font-size: 140%; 
    text-align: center;
    transition-duration: 1s;
  }
  
  .header,
  .footer {
    background-color: white;
  }
  
  .sidebar2 {
    background-color: white;
    color: #444;
  }